use Mix.Config

config :phoenix14_base, Phoenix14BaseWeb.Endpoint,
  http: [port: 4001],
  server: false

config :logger, level: :warn

config :phoenix14_base, Phoenix14Base.Repo,
  username: "percy",
  password: "",
  database: "phoenix14_base_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
